---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Maby Mansour Ndoye" description="Explore the multifaceted journey of Maby Mansour Ndoye from IT Engineering to Transmedia Architecture, leading to a passion for Video Game Design.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Maby Mansour Ndoye"
				tagline="From Engineering and Data Management to Transmedia Narratives: A Journey Towards Video Game Design."
			>
				<div style="display: flex; justify-content: space-between; align-items: flex-start;">
  
  <div style="display: flex; justify-content: space-between; align-items: flex-start;">
   
</div>
			</Hero>

			<section>
				<h2 class="section-title">IT Engineering: The Foundation</h2>
				<div class="content">
					<p>
						My journey began in the realm of IT Engineering, where I delved deep into the intricacies of network and telecommunications. This phase of my career was marked by a relentless pursuit of technical excellence, developing solutions that are not only efficient but also groundbreaking. It honed my analytical skills and laid the groundwork for my future explorations into the digital world.

As an IT Engineer, I have cultivated a versatile skill set that encompasses not only the robust foundations of network and telecommunication engineering but also extends into cutting-edge realms. Proficient in designing, implementing, and maintaining complex IT and network systems, I ensure optimal functionality and security. My journey in the field has been a continuous evolution, navigating through the dynamic landscape of technological advancements.

In addition to my core skills, I have further delved into areas such as Data Management and Transmedia, expanding my expertise beyond the conventional boundaries of IT. This diversified approach positions me as a tech enthusiast with a strategic perspective, capable of tackling challenges with a holistic and innovative mindset.

My commitment to leveraging technology for creative solutions has driven me to explore diverse domains within IT, from software development to data analysis. Each project undertaken has been a chapter in my story, contributing to the narrative of my growth and adaptability in the ever-evolving IT landscape.

Beyond the technical aspects, my journey in IT is not just about codes and systems; it's a narrative of collaboration, innovation, and a passion for transforming challenges into opportunities. With each step, I embrace the dynamic nature of the digital realm, always seeking new horizons to conquer and pushing the boundaries of what's possible in the world of IT Engineering.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Data Management: The Insight</h2>
				<div class="content">
					<p>
						My path took a significant shift as I ventured into the world of Data Management. In this realm, I learned to see beyond mere numbers, interpreting the intricate stories they weave about user behavior, preferences, and the untapped potential within markets. Armed with expertise in data analysis and visualization, I was empowered to forge informed decisions, propelling innovation forward with a data-centric mindset.

Immersing myself in the transformative management of digital arenas, I developed a keen ability to drive change within organizations, positioning data as the cornerstone for strategic evolution and procedural refinement. My adeptness in data analysis, enriched by focused studies in modeling and stochastic finance, allowed me to predict market trends with exceptional precision, equipping my teams with the foresight necessary to outpace competitors.

My mastery in data visualization transformed the conveyance of complex insights, rendering data not only accessible but compelling for decision-makers and stakeholders alike. With a strong foundation in IT governance, alongside quality, traceability, and security management, I safeguarded the integrity and confidentiality of data across my projects, reinforcing trust in data-centric strategies.

Engaging with topics on energies and the environment, and spearheading business cases that center on data analytics, broadened my understanding of data's role in fostering sustainable and ethical decision-making, emphasizing the importance of social responsibility within the sphere of data management.

This chapter in data management has meticulously refined my technical capabilities while sharpening my strategic foresight, enabling me to employ a comprehensive approach in leveraging data to catalyze innovation and drive digital success. My prowess in data management thus stands as a cornerstone of my career, positioning me as a leader in the digital transformation landscape.

Key competencies in Data Management that I've nurtured include advanced business English for effective global communication; international finance and financial risk management to grasp market dynamics; strategic management for aligning data initiatives with overarching business objectives; quality management to ensure data's integrity; and IT governance for the proficient oversight of data projects. Proficiencies in data visualization and analytics are pivotal in distilling data into actionable insights, while seminars in AI (ML and DL) have kept my approach to data science both contemporary and visionary, ensuring my data management practices are not only relevant but also pioneering.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Transmedia Architecture: The Creativity</h2>
				<div class="content">
					<p>
						My exploration into Transmedia Architecture taught me the art of storytelling across multiple platforms. This field taught me to craft narratives that span various media, creating immersive worlds that engage and captivate audiences. It amplified my ability to merge technical skills with creative vision, preparing me for the multidimensional challenges of digital storytelling.

Diving into the vast territories of narrative architecture, I gained a deep understanding of how stories can be structured to resonate across a variety of channels, enriching the audience's experience while maintaining thematic consistency. My training in user-centered advanced game design and sound environment design enhanced my ability to create engaging interactive experiences, where each sound and visual element is meticulously crafted to complement and enrich the narrative.

The course on urban legends, rumors, and fake lores broadened my understanding of popular culture and its impact on transmedia storytelling, enabling me to leverage these elements to design stories that deeply resonate with the audience's experiences and expectations. Immersing myself in research and development, I learned to anticipate emerging trends in interactive media and artificial intelligence, integrating these cutting-edge technologies to push the boundaries of what's possible in digital narration.

My engagement in creative production and strategic communication of interactive media endowed me with a strategic perspective on how to position transmedia narratives to maximize impact and engagement. Mastery in advanced visual communication and XR development sharpened my ability to visualize and realize narrative concepts in virtual and augmented environments, opening new avenues for immersion and interaction.

This exploration of transmedia architecture refined my understanding of narrative complexity and multimedia content production, equipping me with a unique set of skills to create captivating experiences that transcend media boundaries. My expertise in transmedia architecture stands as a distinctive skill in my creative arsenal, ideally positioning me to tackle innovative challenges in video game design and beyond.

					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Towards Video Game Design</h2>
				<div class="content">
					<p>
						Now, as I stand at the threshold of applying for the DESS in Video Game Design, I see it as the culmination of my journey. This program represents the perfect confluence of my skills in engineering, my insights from data management, and my creativity in transmedia storytelling. I am poised to enter the world of video game design, where I can fuse these disciplines into creating games that not only entertain but also educate and inspire.
					</p>
					<p>
						I am eager to explore the possibilities that lie at the intersection of technology and art, leveraging my diverse background to contribute to the future of video game design. Joining the DESS program is not just the next step in my professional journey; it is a leap towards realizing my dream of shaping the future of interactive entertainment.
					</p>
				</div>
			</section>

			<ContactCTA />
		</main>
	</div>
</BaseLayout>
